// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

br.sp_br {
  display: none;
}


// 画像
.sliders img {
  height: 600px;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.text-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2;
  color: #eceaea;
  font-size: 50px;
  // text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.8);
  text-shadow: black 7px 0 10px;
  font-weight: bold;
}

.sliders .img {
  height: 600px;
  background-size: cover;
  background-position: center center;
}
.sliders .bg-top1 {
  background-image: image-url("slider1.jpg");
}
.pd-top1 {
  padding-top: 300px;
}
.sliders .bg-top2 {
  height: 600px;
  background-image: image-url("slider2.jpg");
}
.sliders .bg-top3 {
  height: 600px;
  background-image: image-url("slider3.jpg");
}

.top-img4 {
  background-image: image-url("top3.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 50%;
}

.top-img5 {
  background-image: image-url("top2.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 50%;
}

.top-img6 {
  background-image: image-url("top.jpg");
  width: 100%;
  height: 260px;
  background-size: cover;
}

.greenade {
  background-image: image-url("greenade.jpg");
  width: 200px;
  height: 141px;
  background-size: cover;
}
.kelu {
  background-image: image-url("kelu.jpg");
  width: 200px;
  height: 141px;
  background-size: cover;
}
.tama {
  background-image: image-url("tama.jpg");
  width: 200px;
  height: 141px;
  background-size: cover;
}

.about-img1 {
  background-image: image-url("about.jpg");
  width: 600px;
  height: 424px;
  margin: 0 auto;
  background-size: cover;
}

.about-issue {
  background-image: image-url("issue.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.about-ninomiya {
  background-image: image-url("ninomiya.jpg");
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
  border-radius: 50%;
}
.about-murakami {
  background-image: image-url("murakami.jpg");
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
  border-radius: 50%;
}

.bg-about {
  background-image: image-url("top2.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  height: 300px;
}

.neuro-about {
  margin: 30px auto;
  width: 40%;
  border-radius: 52px;
  background: #e6e6e6;
  box-shadow:  25px 25px 50px #c8c8c8,
            -25px -25px 50px #ffffff;
}

.bg-support {
  background-image: image-url("top1.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
}


.neuro-support {
  margin: 30px auto;
  border-radius: 52px;
  background: #e6e6e6;
  box-shadow:  25px 25px 50px #7fb1b3,
             -25px -25px 50px #bbffff;
}
.neuro-support2 {
  margin: 30px auto;
  border-radius: 52px;
  background: #e6e6e6;
  box-shadow:  25px 25px 50px #ba7a3e,
             -25px -25px 50px #ffb35a;
}

.support-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
  border-radius: 50%;
}
.support-img1 {
  background-image: image-url("support1.jpg");
}
.support-img2 {
  background-image: image-url("support2.jpg");
}
.support-img3 {
  background-image: image-url("support3.jpg");
}
.support-img4 {
  background-image: image-url("support4.jpg");
}
.support-img5 {
  background-image: image-url("support5.jpg");
}
.support-img6 {
  background-image: image-url("support6.jpg");
}
.bg-classes {
  background-image: image-url("top2.jpg");
  background-size: cover;
  background-position: center center;
  padding: 150px 0;
  // background-attachment: fixed;
}

.classes-img {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
  border-radius: 10%;
  background-position: center;
}

.neuro-classes {
  margin: 30px auto;
  border-radius: 52px;
  background: #e6e6e6;
  box-shadow:  25px 25px 50px #c8c8c8,
            -25px -25px 50px #ffffff;
}
.class-type:before {
  content: '';/*何も入れない*/
  display: inline-block;
  width: 150px;/*画像の幅*/
  height: 150px;/*画像の高さ*/
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.strada:before {
  background-image: image-url("strada.jpg");
  display: flex;
}
.houkago:before {
  background-image: image-url("houkago.jpg");
  display: flex;
}
.sakura:before {
  background-image: image-url("sakura.jpg");
  display: flex;
}

.strada1 {
  background-image: image-url("strada1.JPG");
}
.strada2 {
  background-image: image-url("strada2.png");
}
.strada3 {
  background-image: image-url("strada3.JPG");
}
.classes-img4 {
  background-image: image-url("top1.jpg");
}
.classes-img5 {
  background-image: image-url("top2.jpg");
}
.sakura1 {
  background-image: image-url("sakura1.jpg");
}
.sakura2 {
  background-image: image-url("sakura2.jpg");
}
.sakura3 {
  background-image: image-url("sakura3.jpg");
}
.classes-img9 {
  background-image: image-url("top3.jpg");
}
.classes-img10 {
  background-image: image-url("top1.jpg");
}

@media screen and (max-width:425px) {
  .about-issue {
    width: 100%;
    height: 300px;
  }
  .about-img1 {
    width: 100%;
    // height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .neuro-about {
    width: 100%;
  }
  br.sp_br {
    display: block; //425px未満で改行タグを有効に。
  }
}