// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// 画像
.bg-support {
  background-image: image-url("top1.jpg");
  background-size: cover;
  background-position: center center;
}

.bg-about {
  background-image: image-url("top2.jpg");
  background-size: cover;
  background-position: center center;
}