<%= render "admins/shared/header" %>
<% week = ["日", "月", "火", "水", "木", "金", "土"] %>
<p id="notice"><%= notice %></p>

<div class="toppage">
  <div class="text-center mt-3">
    <h1 class="text-center mt-5 undertitle">生徒一覧</h1>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3 ml-3">
    	<div class="schedule"></div>
    </div>

    <div class="col-md-10 offset-md-1">
      <table class="table">
        <thead>
          <tr>
            <th>名前</th>
            <th>生年月日</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.birth %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>