<%= render "layouts/header" %>
<div class="text-center mt-3">
  <h1 class="text-center mt-5 undertitle"><%= @blog.title %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="my-3 d-flex">
        <p>投稿日  <%= @blog.created_at.strftime("20%-y-%-m-%-d") %></p>

      </div>
      <div class="my-5">
        <%= sanitize @blog.content %>
      </div>
    </div>
  </div>
</div>