<%= render "layouts/header" %>

<% breadcrumb :about %>
<%= breadcrumbs separator: " &rsaquo; ", class: "m-5" %>
<!--<div class="text-center mt-3">-->
<!--  <h2 class="text-center undertitle">BORDER FREEとは</h2>-->
<!--</div>-->
<div class="text-center mt-3 bg-classes text-white">
  <h1 class="text-center undertitle undertitle-w">BORDER FREEとは</h1>
</div>
<div class="py-5 neuro-about" style="width: 40%;">
  <h2 class="text-center pt-5">教育格差の是正</h2>
  <div class="text-center">
    <h6 class="mt-5">・教育機会の公平性</h6>
    <h6>・居場所づくり</h6>
  </div>
</div>
<div class="container mt-5">
  <div class="margin-top element neuro-about py-4" style="width: 100%;">
    <h4 class="text-center maru">BORDER FREEを設立したわけ</h4>
    <div class="row">
      <p class="mt-5 col-md-8 offset-md-2 text-center">
        私たちは、学生生活や、塾講師のアルバイトなどを通して、</br>
        今日の日本で問題となっている<b>「教育格差」</b>を目の当たりにしてきました。</br>
        現在の教育業界は、保護者の経済力や家庭環境、居住地域によって左右されてしまっています。</br>
        そこで、勉強に取り組む機会や居場所を失っている子どもたちに、</br>
        学習支援を行うことが急務であると考えました。
      </p>
    </div>
  </div>
</div>
<div class="margin-top element bg-grey py-5">
  <h4 class="text-center mt-5 maru">非営利の在り方の提案</h4>
  <div class="row">
    <p class="mt-5 col-md-8 offset-md-2 text-center">
      日本の非営利団体の多くは、単なる”地域のボランティア”と化しており、</br>
      継続性、包括性において難があると言わざるを得ません。</br>
      そこで、<b>低価格</b>かつ<b>高品質</b>で誰でも受けられる授業を提供することで、</br>
      学習塾業界全体に適切な価格破壊を起こしたいと考えています。
    </p>
  </div>
</div>
<div class="container">
  <div class="margin-top element">
    <h4 class="text-center mt-5 maru">ビジョン</h4>
    <div class="col-md-8 offset-md-2 mt-5">
      <img src="assets/about.jpg" alt="top" width="600">
    </div>
  </div>

  <div class="margin-top element">
    <h4 class="text-center mt-5 maru">共同代表からのメッセージ</h4>
    <div class="row border rounded p-3 mt-5">
      <div class="col-md-3 offset-md-1">
        <img src="assets/ninomiya.jpg" alt="" class="maru-img ml-3 mt-5">
        <div class="box30">
          <h5 class="mt-3 text-center box-title">二宮龍斗</h5>
          <p class="rounded p-3">
            2001年生まれ
            2020年東京都立戸山高校卒業
            2022年桜美林大学航空マネジメント学群中退
            現在は明治大学理工学部に在学中
            2021年9月に共同代表の村上と学習支援サークルBORDER FREEを設立
          </p>
        </div>
      </div>
      <div class="col-md-6 offset-md-1 pt-5" style="letter-spacing: 0.2em;">
        <p>
        現在は辞めてしまいましたが、</br>
        塾講師のアルバイトをしていた時期がありました。
      </p>
      <p>
        その塾の授業形態は、個別指導であり、</br>
        私も何名かの生徒を担当していました。</br>
        そのうちに数学を担当していたＡ君という生徒がいて、</br>
        彼は当時中学3年生であり、高校受験を控えていました。
        </p>
        <p>
          しかし、勉強に苦手意識を持っていて、</br>
          中学1年生の数学の内容も理解できていない様子でした。
        </p>
          そこで、本来のカリキュラムよりも、</br>
          理解できていない部分から優先して再度勉強する必要がある</br>
          と考え社員の方に相談すると、</br>
          「そんなことはしなくて良い。カリキュラム通りに進めてください。」</br>
          と言われてしまいました。
        </p>
        <p>
          私は、その塾に不信感を抱き、退職してしまったのですが、</br>
          今でもＡ君のことを頻繁に思い出します。
        </p>
        <p>
          この時を境に、真に生徒のためになるような学習支援を</br>
          自分の力で行いたいと考えるようになりました。
        </p>
        <p>
          そんな折、学習支援を行い「教育格差を是正したい」</br>
          という村上の考えに共感し、</br>
          2人で学習支援支援サークルBORDER FREEを設立、</br>
          設立後すぐに多数の知人にも参加してもらい、</br>
          本格的な活動がスタートしました。
        </p>
        <p>
          将来的には、BORDER FREEを日本全国に展開して、</br>
          活動理念として掲げている「教育格差の是正」</br>
          を実現していきたいと考えています。
        </p>
        <p>
          是非全国の大学生の皆さんに当団体を知ってもらい、</br>
          共に活動していくことができればと思います。
        </p>
      </div>
    </div>
    <div class="row border rounded p-3 mt-5 mb-5">
      <div class="col-md-3 offset-md-1">
        <img src="assets/murakami.jpg" alt="" class="maru-img ml-3">
        <div class="box30">
          <h5 class="mt-3 text-center box-title">村上晃一</h5>
          <p class="rounded p-3">
            2001年生まれ
            2020年東京都立戸山高校卒業
            現在は早稲田大学教育学部に在学中
            2021年9月に共同代表の二宮と学習支援サークルBORDER FREEを設立
          </p>
        </div>
      </div>
      <div class="col-md-7 offset-md-1 pt-5" style="letter-spacing: 0.2em;">
        <p>
         「BORDER FREEのやりたいこと」
        </p>
        <p>
          私は、大学1年生から3年間、ラオスの子どもたちに</br>
          教育支援を行う海外ボランティアサークルに入っていました。
        </p>
        <p>
          ラオスはまだまだ教育設備が整っておらず、</br>
          小学校を卒業できない子どもたちが約2割を占めている国です。
        </p>
        <p>
          そこでの活動は大変意義深かったのですが、</br>
          同時に日本の子どもたちには何かアクションを起こさなくていいのか</br>
          と自問自答するようになりました。
        </p>
        <p>
          そうして、日本の「教育格差の是正」を目指すべく、</br>
          BORDER FREEを設立しました。
        </p>
        <p>
          一方で、人間の歴史上どんな社会にも格差は存在しますし、</br>
          究極的には教育格差を完全になくすことは難しいと思います。
        </p>
        <p>
          ”ただ、どんなハンディを持った子どもたちでも</br>
          「大学に行きたい」や「将来○○になりたい」</br>
          といった夢や目標には実現可能な道筋を示してあげたい。
        </p>
        <p>
          大学生の私たちが子どもたちを教え導くのはおこがましいけれど、</br>
          "子どもたちの将来への道筋をサポートできるような存在でありたい"</br>
          という想いは、設立当初からずっと変わらない私の想いです。
        </p>
        <p>
          今は想いに共感していただいた方々の支えもあり、</br>
          少しずつ活動の幅を広げています。
        </p>
        <p>今後はより広い範囲の子どもたちに</br>
          より質の高い学習支援を届けていく所存です。</br>
          ぜひBORDER FREEの活動を</br>
          今後とも見守っていただけましたら幸いです。
        </p>
      </div>
    </div>
  </div>
  <%= render "layouts/question" %>
</div>
<div class="pt-3clearfix bg-grey">
  <div class="p-3 row">
    <%= breadcrumbs separator: " &rsaquo; ", class: "col-md-4 pt-2" %>
      <a href="#top" class="text-dark font-weight-bold col-md-2 offset-md-6 btn btn-success">↑ Page Top</a>
  </div>
</div>