<%= render "layouts/header" %>

<% breadcrumb :classes %>
<%= breadcrumbs separator: " &rsaquo; ", class: "m-5" %>
<div class="text-center mt-3">
  <h1 class="text-center undertitle">取り組み</h1>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <!--<h3 class="text-center mt-5"></h3>-->
      <div class="sample_box11">
      <div class="sample_box11_tape"> </div>
      <p class="sample_box11_title">勉強会</p>
      <p class="sample_box11_subtitle">べんきょうかい</p>
      <p class="px-2">
        「たとえ勉強が嫌いでも、友達と一緒なら頑張れる‼」</br>
        せっかく勉強へのやる気が出てきても、</br>
        ついついゲームや遊びに時間を取られてしまうことが</br>
        よくありますよね。</br>
        でも、一緒に勉強する仲間や質問に応えるメンターがいれば</br>
        頑張れるはず！BORDER FREEでは無料で勉強会を開催し、</br>
        子どもたちが頑張れる環境を作ります。</br>
        また、多摩市立南鶴牧小学校でも</br>
        出張勉強会を実施予定です。
        （2022年1月～）
      </p>
      </div>
    <p class="mt-5 text-center">

    </p>
    </div>
    <div class="col-md-4 offset-md-1">
      <div class="sample_box11">
      <div class="sample_box11_tape"> </div>
      <p class="sample_box11_title">個別指導</p>
      <p class="sample_box11_subtitle">こべつしどう</p>
      <p class="px-4">
        ひとりひとりの生徒と向き合うことで、</br>
        勉強の楽しさを味わい、</br>
        生徒の目標達成に向けて全力でサポートします
      </p>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <h3 class="text-center mt-5">学習支援</h3>
    </div>
    <div class="col-md-3">
      <h3 class="text-center mt-5">ふれあい</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div class="sample_box11">
      <div class="sample_box11_tape"> </div>
      <p class="sample_box11_title">担任制</p>
      <p class="sample_box11_subtitle">たんにんせい</p>
      <p class="px-4">
        勉強の進度や日常生活の悩みなど、</br>
        生徒にとっての良き相談相手となる担任が</br>
        ひとりひとりをサポートします。</br>
        また保護者の方との面談やご要望も対応させていただき</br>
        開かれた学習支援を行います。
      </p>
      </div>
    </div>
    <div class="col-md-5 offset-md-1">
      <div class="sample_box11">
      <div class="sample_box11_tape"> </div>
      <p class="sample_box11_title">交流イベント（任意）</p>
      <p class="sample_box11_subtitle">こうりゅう</p>
      <p class="px-4">
        普段はあまり会う機会のない生徒同士や</br>
        メンターとふれあうイベントもあります。</br>
        また、提携している
        大学生のボランティアサークルや</br>
        交流サークルとのタイアップ企画もあり、</br>
        児童館のような楽しいイベントが盛りだくさんです。
      </p>
      </div>
    </div>
  </div>
</div>