<%= render "layouts/header" %>

<% breadcrumb :classes %>
<%= breadcrumbs separator: " &rsaquo; ", class: "m-5" %>
<div class="text-center mt-3 bg-classes text-white">
  <h1 class="text-center undertitle undertitle-w">サービス紹介</h1>
</div>
<div class="container mt-5">
  <div class="row mt-5">
    <a href="#individual" class="col-md-3 offset-md-2 text-dark font-weight-bold">
      <div class="text-center neuro-classes sample_box10">
        <h3 class="text-center mt-5">学習支援</h3>
        <ul class="p-3 text-center">
          <li>個別指導STRADA</li>
          <li>放課後学習教室</li>
          <li>さくら教室(集団授業)</li>
        </ul>
      </div>
    </a>
    <a href="#contact" class="col-md-3 offset-md-2 text-dark font-weight-bold">
      <div class="text-center neuro-classes sample_box10">
        <h3 class="text-center mt-5">ふれあい</h3>
        <ul class="p-3 text-center">
          <li>交流イベント</li>
          <li>担任制</li>
        </ul>
      </div>
    </a>
  </div>
</div>
<!--料金-->
<div class="container">
    <div class="element">
        <div class="text-center margin-top">
          <h3 class="text-center mt-5 undertitle">サービス</h3>
        </div>
        <div class="row">
            <table class="cp_pricetable3">
                <thead>
                    <tr>
                    	<th class="group1">オンライン個別指導STRADA</th>
                    	<th class="group2">放課後学習教室*1</th>
                    	<th class="group3">さくら教室(集団授業)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    	<td class="group1">￥2,500/コマ</td>
                    	<td class="group2">￥2,000/月</td>
                    	<td class="group3">￥2,000/月</td>
                    </tr>
                    <tr>
                    	<td class="group1">オンライン授業＠ZOOM</td>
                    	<td class="group2">多摩センター教室・聖蹟桜ヶ丘教室</td>
                    	<td class="group3">聖蹟桜ヶ丘教室</td>
                    </tr>
                    <tr>
                    	<td class="group1">小4～高校生</td>
                    	<td class="group2">小3～高校生</td>
                    	<td class="group3">小6～中3</td>
                    </tr>
                    <tr>
                    	<td class="group1"><a href="#individual" class="cp_btn font-weight-bold">詳細</a></td>
                    	<td class="group2"><a href="#afterschool" class="cp_btn font-weight-bold">詳細</a></td>
                    	<td class="group3"><a href="#sakura" class="cp_btn font-weight-bold">詳細</a></td>
                    </tr>
                </tbody>
            </table>
            <p class="">＊1 住民税非課税世帯、児童扶養手当受給世帯は無料</p>
        </div>
    </div>
</div>
<!--個別指導-->
<div class="bg-grey py-2 my-5" id="individual">
  <div class="container">
    <div class="margin-top element">
      <h1 class="text-center heading02 strada class-type">個別指導STRADA</h1>
      <p class="mt-5 text-center">
        ひとりひとりの生徒と向き合うことで、</br>
        勉強の楽しさを味わい、</br>
        生徒の目標達成に向けて全力でサポートします。
      </p>
    </div>
  </div>
  <div class="">
    <div class="cta_btn03 slider-contact mb-3">
      <a href="https://www.strada-kobetsu.com/sa" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
        <span class="cta_btn03-copy">さらに詳しく！！</span>
        <div class="text-white">STRADA専用ページへ</div>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row margin-top element">
      <div class="col-md-7">
        <h2 class="pt-3">勉強を通して生徒の夢や目標をサポート</h2>
        <p class="pt-3">私たちの理想は、塾に行かずとも勉強の必要性を理解し、
        夢に向かって頑張れる生徒を育てることです。そこで、受講開始前にそもそも
        「なぜ勉強をするのか」を先生と生徒が一緒に考えます。そうして3ヶ月おきに目標を定め、
        先生がチームを組んで生徒の目標達成を毎日サポートしていきます。
        </p>
      </div>
      <div class="col-md-3 offset-md-1 img-maru">
        <div class="strada1 classes-img"></div>
      </div>
    </div>
    <div class="row mb-5 element">
      <div class="col-md-7">
        <h2 class="pt-4">家庭学習まで管理する手厚いフォロー</h2>
        <p class="pt-3">
          「塾では集中できても、家だと集中できない」という声をよく生徒から聞きます。
          そこで、先生と生徒が一緒に考えた目標に向けて、BFの個別指導では先生が家庭学習もサポートします。
          先生が家庭学習の計画を立てて、授業日以外も公式LINEを通して連絡を取ることで、
          生徒のやる気を持続させます。
        </p>
      </div>
      <div class="col-md-3 offset-md-1 img-maru">
        <div class="strada2 classes-img"></div>
      </div>
    </div>
    <div class="row mb-5 element">
      <div class="col-md-7">
        <h2 class="pt-4">現役大学生講師が密度の高い授業を提供</h2>
        <p class="pt-3">
        早稲田やMARCHをはじめとした現役大学生が担当となり、質の高い授業を提供します。
        個別指導塾では授業時間の半分を問題演習に費やすパターンが少なくないですが、
        BFの個別指導では授業中先生と生徒が常にコミュニケーションを取り、
        1時間ずっと集中できる授業を保証します。
        </p>
      </div>
      <div class="col-md-3 offset-md-1 img-maru">
        <div class="strada3 classes-img"></div>
      </div>
    </div>
  </div>
  <!--<div class="cta_btn03 slider-contact mb-3">-->
  <!--  <%#= link_to new_contact_path(classes: "個別指導STRADAについて") do %>-->
  <!--    <div class="text-white">お問い合わせはこちら</div>-->
  <!--  <%# end %>-->
  <!--</div>-->
  <div class="cta_btn03 slider-contact mb-3">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfoALCeujb9-oolg7ImPzM_hlFgdkd_juSJCxxjF1DWdwKOuw/viewform" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
      <span class="cta_btn03-copy">お気軽にお問い合わせください！</span>
      <div class="text-white">申し込みはこちら</div>
    </a>
  </div>
</div>
<!--放課後学習教室-->
<div class="container">
  <div class="margin-top element" id="afterschool">
    <h1 class="text-center heading02 houkago class-type">放課後学習教室</h1>
    <p class="mt-5 text-center">
      いつでも大学生講師に質問できる"勉強スペース"
    </p>
  </div>
  <div class="row">
    <div class="col-md-7 offset-md-3">
      <table class="table">
        <tbody>
          <tr>
            <th>内容</th>
            <td>勉強会</td>
          </tr>
          <tr>
            <th>場所</th>
            <td>
              多摩センター教室（ココリア多摩センター5階キャリアマムホール）<br>
              聖蹟桜ヶ丘教室（聖蹟桜ヶ丘ヴィータ・コミューネ 7階）
            </td>
          </tr>
          <tr>
            <th>対象</th>
            <td>小学3年生～高校3年生</td>
          </tr>
          <tr>
            <th>費用</th>
            <td>2000円/月※1</td>
          </tr>
          <tr>
            <th>開講日</th>
            <td>
              〇多摩センター教室<br>
              毎週木・土曜日　18:00~20:00<br>
              〇聖蹟桜ヶ丘教室<br>
              毎週火曜日　16:30~19:00
            </td>
          </tr>
        </tbody>
      </table>
      ※1児童扶養手当受給世帯・住民税非課税世帯に該当するご家庭は無償
    </div>
  </div>
  <div class="row margin-top element">
    <div class="col-md-7">
      <h2 class="pt-3">いつでも大学生講師に質問できる勉強場所</h2>
      <p class="pt-3">放課後学習教室では、勉強会という形をとって、月2000円（詳しくは、料金ページ参照）で週1～2回という頻度で活動を行っています。
        勉強会という形態は聞き慣れないかもしれませんが、講師が2人から3人に対して生徒複数名で実施し、基本的には、自分で持参した課題を解きながら、
        分からないところが出てきたらいつでも質問ができるようなスペースです。
        また、ただ勉強するスペースという側面だけではなく、より子どもたちが集中できる環境となるよう、時間割を策定して集中する時間と休憩時間のメリハリをつけたり、
        「目標シート」という、その日取り組む課題を予め大学生講師と共有するようなシステムを用意することで、より良い学習環境の整備に努めています。
      </p>
    </div>
    <div class="col-md-3 offset-md-1 img-maru pt-5">
      <div class="classes-img4 classes-img"></div>
    </div>
  </div>
  <div class="row mb-5 element">
    <div class="col-md-7">
      <h2 class="pt-4">居場所づくり"としての機能も</h2>
      <p class="pt-3">
        放課後学習教室は、「学習教室」と謳っている以上学習するためのスペースであることは確かです。
        一方で、放課後学習教室に通うことで、様々な地域の様々な年代の子どもたち同士が一堂に会し、
        交流できる機会でもあります。そのような交流できる場所が、
        子どもたちにとって「楽しい場所」として認識され、居場所の1つになればと思っています。
        そして、これが学習習慣の定着にも繋がります。
      </p>
    </div>
    <div class="col-md-3 offset-md-1 img-maru pt-3">
      <div class="classes-img5 classes-img"></div>
    </div>
  </div>
  <!--<div class="cta_btn03 slider-contact mb-3">-->
  <!--  <%#= link_to new_contact_path(classes: "放課後学習教室について") do %>-->
  <!--    <div class="text-white">お問い合わせはこちら</div>-->
  <!--  <%# end %>-->
  <!--</div>-->
  <div class="cta_btn03 slider-contact mb-3">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdOuTIbztpy5bUIZCJ4IaDvp554Pof0cOwZ2fa_HVn0asK6bw/viewform" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
      <span class="cta_btn03-copy">お気軽にお問い合わせください！</span>
      <div class="text-white">申し込みはこちら</div>
    </a>
  </div>
</div>
<!--さくら教室-->
<div class="bg-grey-sakura py-2 my-5" id="sakura">
  <div class="container">
    <div class="margin-top element">
      <h4 class="text-center heading02 sakura class-type">さくら教室<br class="sp_br">(集団授業)</h4>
      <p class="mt-5 text-center">
        レベル・学年に合わせたアットホームな集団授業で、<br>
        ひとりひとりに最適な学び舎を
      </p>
    </div>
    <div class="row">
      <div class="col-md-7 offset-md-3">
        <table class="table">
          <tbody>
            <tr>
              <th>内容</th>
              <td>集団授業</td>
            </tr>
            <tr>
              <th>場所</th>
              <td>
                聖蹟桜ヶ丘教室（聖蹟桜ヶ丘ヴィータ・コミューネ 7階）
              </td>
            </tr>
            <tr>
              <th>対象</th>
              <td>小学6年生～中学3年生</td>
            </tr>
            <tr>
              <th>費用</th>
              <td>2000円/月 ※2</td>
            </tr>
            <tr>
              <th>クラス</th>
              <td>
                ①基礎英語クラス（小6,中1）<br>
                ②標準英語クラス（中2）<br>
                ③中2都立英語対策クラス（中2）<br>
                ④中2都立数学対策クラス（中2）<b※>
                ⑤中3都立数学対策クラス（中3）
              </td>
            </tr>
          </tbody>
        </table>
        <p class="mt-5">※2児童扶養手当受給世帯・住民税非課税世帯に該当するご家庭は￥1,000</p>
      </div>
    </div>
    <div class="row margin-top element">
      <div class="col-md-7">
        <h2 class="pt-4">先生でも友達でもない“ななめ”の関係</h2>
        <p class="pt-3">現在の教育業界は、保護者の経済力や家庭環境、居住地域によって左右されてしまっています。
          そこで私たちは、”全ての子どもたちが等しく勉強できる環境”「教育の機会の公平性」の実現を目指します。
        </p>
      </div>
      <div class="col-md-3 offset-md-1 img-maru">
        <div class="sakura1 classes-img"></div>
      </div>
    </div>
    <div class="row mb-5 element">
      <div class="col-md-7">
        <h2 class="pt-3">１回200円の集団授業</h2>
        <p class="pt-3">企業や行政からご支援を受けて授業料、
          教材費など含めて200円で授業を提供しています。
          「学習塾や家庭教師は費用がかかりすぎる、、、。」
          などの経済的理由で勉強することを諦めてしまうことは非常にもったいないことです。
          すべての未来ある子供達の可能性を広げるべく、さくら教室は全力で子供達の支えとなります。
        </p>
      </div>
      <div class="col-md-3 offset-md-1 img-maru">
        <div class="sakura2 classes-img"></div>
      </div>
    </div>
    <div class="row mb-5 element">
      <div class="col-md-7">
        <h2 class="pt-4">先生2人体制の充実したサポート</h2>
        <p class="pt-3">授業では2人の先生がつくので、
          生徒一人一人に合わせた学習方法でアプローチしやすくなっており、
          手厚いサポートを受けることができます。2人体制だと、
          1人の先生が指導するだけでは気づきにくいような部分がまた別の角度から発見され、
          より一人一人の生徒さんに合った学習方法を導けます。
          </p>
      </div>
      <div class="col-md-3 offset-md-1 img-maru">
        <div class="sakura3 classes-img"></div>
      </div>
    </div>
  </div>
  <div class="cta_btn03 slider-contact mb-3">
    <a href="https://docs.google.com/forms/d/10AHRQUuhmwb94zKwJ5ZiRBiWzO2vKrsF7_oe-QipJsM/viewform?edit_requested=true" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
      <span class="cta_btn03-copy">お気軽にお問い合わせください！</span>
      <div class="text-white">申し込みはこちら</div>
    </a>
  </div>
</div>
<!--ふれあい-->
<div class="container">
  <div class="margin-top element">
    <h1 class="text-center heading02" id="contact">ふれあい</h1>
    <p class="mt-5 text-center">

    </p>
  </div>
  <div class="row margin-top element">
    <div class="col-md-7">
      <h2 class="pt-3">交流イベント</h2>
      <p class="pt-3">普段はあまり会う機会のない生徒同士やメンターとふれあうイベントもあります。
      また、提携している大学生のボランティアサークルや交流サークルとのタイアップ企画もあり、
      児童館のような楽しいイベントが盛りだくさんです。
      </p>
    </div>
    <div class="col-md-3 offset-md-1 img-maru">
      <div class="classes-img9 classes-img"></div>
    </div>
  </div>
  <div class="row mb-5 element">
    <div class="col-md-7">
      <h2 class="pt-4">担任制</h2>
      <p class="pt-3">
        勉強の進度や日常生活の悩みなど、
        生徒にとっての良き相談相手となる担任がひとりひとりをサポートします。
        また、保護者の方との面談やご要望も対応させていただき、開かれた学習支援を行います。
      </p>
    </div>
    <div class="col-md-3 offset-md-1 img-maru">
      <div class="classes-img10 classes-img"></div>
    </div>
  </div>
  <%= render "layouts/question" %>
</div>
<div class="pt-3clearfix bg-grey">
  <div class="p-3 row">
    <%= breadcrumbs separator: " &rsaquo; ", class: "col-md-4 pt-2" %>
    <a href="#top" class="text-dark font-weight-bold col-md-2 offset-md-6 btn btn-success">↑ Page Top</a>
  </div>
</div>