<%= render "layouts/header" %>
<% breadcrumb :support %>
<%= breadcrumbs separator: " &rsaquo; ", class: "m-5" %>
<div class="text-center mt-3">
  <h1 class="text-center undertitle">協賛企業・協賛団体</h1>
</div>
<div class="container" style="height:1000px;">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h3>supporters</h3>
      <h6 class="mt-3">協賛企業・協賛団体の皆様</h6>
      <div class="row ">
          <div>
              <div class="greenade"></div>
              <p>グリナード永山様</p>
          </div>
          <div class="ml-5">
              <div class="kelu"></div>
              <p>ケル株式会社様</p>
          </div>
          <div class="ml-5">
              <div class="tama"></div>
              <p>多摩市様</p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-3clearfix bg-grey">
  <div class="p-3 row">
    <%= breadcrumbs separator: " &rsaquo; ", class: "col-md-4 pt-2" %>
      <a href="#top" class="text-dark font-weight-bold col-md-2 offset-md-6 btn btn-success">↑ Page Top</a>
  </div>
</div>