<%= render "layouts/header" %>

<% breadcrumb :support %>
<%= breadcrumbs separator: " &rsaquo; ", class: "m-5" %>
<div class="container" style="height: 1000px;">
  <div class="text-center mt-3">
    <h1 class="text-center undertitle">ご寄付・ボランティア</h1>
  </div>
  <div class="row margin-top">
    <div class="col-md-7 offset-md-2">
      <p class="heading07 text-center" data-en="Support">
        BORDER FREEは<br>
        ”全ての子どもたちが等しく勉強できる環境”<br>
        「教育の機会の公平性」の実現を目指します
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-2">
      
    </div>
    <div class="col-md-4 offset-md-1">
      
    </div>
  </div>
</div>