<%= render "layouts/header" %>

<% breadcrumb :support %>
<%= breadcrumbs separator: " &rsaquo; ", class: "m-5" %>
<div class="container">
  <div class="text-center mt-3 support-head">
    <h1 class="text-center undertitle">ご寄付・ボランティア</h1>
  </div>
  <div class="row margin-top bg-support py-5">
    <div class="col-md-7 offset-md-2 py-5">
      <p class="heading07 text-center text-white py-5" data-en="Support">
        BORDER FREEは<br>
        ”全ての子どもたちが等しく勉強できる環境”<br>
        「教育の機会の公平性」の実現を目指します
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h3>2つのサポート</h3>
      <p class="mt-5">
        子どもたちの放課後をつくっていくためには、<br>
        あらゆる活動があり人、資金、場所など、多く方々や団体のご支援によって支えられています。<br>
        放課後NPOアフタースクールでは、皆さまそれぞれにあったご支援、ご参加の方法があります。
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <a href="#donate" class="col-md-3 offset-md-2 text-dark font-weight-bold">
      <div class="text-center sample_box10">
        BORDER FREEの<br>
        活動に寄付する
      </div>
    </a>
    <a href="#volunteer" class="col-md-3 offset-md-2 text-dark font-weight-bold">
      <div class="text-center sample_box10">
        ボランティア<br>
        として関わる
      </div>
    </a>
  </div>
</div>
<div class="my-5">
  <div class="text-center bg-success text-white p-5" id="donate">
    <h3>BORDER FREEの活動に寄付する</h3>
    <h6 class="mt-3">Donate</h6>
    <p class="mt-5">
      小学生の放課後はまだまだ社会的な課題認知が低く、どの団体も予算的に非常に苦しい中で運営しています。<br>
課題に気づいた方、また未来の放課後NPOアフタースクールにご期待くださる方々は、<br>
ぜひご支援をお願いします。
    </p>
    <div>
      <ul>
        <li class="btn-gradient-radius mx-5"><a href="#personal" class="text-dark">個人のご寄付</a></li>
        <li class="btn-gradient-radius mx-5"><a href="#corporate" class="text-dark">法人のご寄付</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-md-8 offset-md-2 text-center p-5" id="personal">
      <div class="heading02">
        <h3>個人のご寄付</h3>
        <h6 class="mt-3">Personal donations</h6>
      </div>

      <h4 class="mt-5">
        皆様のご支援が子どもたちの未来を変えます
      </h4>
    </div>
  </div>
  <div class="mt-5">
    <ul class="row">
      <li class="col-md-3 offset-md-1">
        <div class="img">
          <img src="assets/top.jpg" alt="" class="maru-img">
        </div>
        <p class="pt-4">授業をする場所代として使わせていただきます。</p>
      </li>
      <li class="col-md-3 offset-md-1">
        <div class="img">
          <img src="assets/top.jpg" alt="" class="maru-img">
        </div>
        <p class="pt-4">講師の授業費として使わせていただきます。</p>
      </li>
      <li  class="col-md-3 offset-md-1">
        <div class="img">
          <img src="assets/top.jpg" alt="" class="maru-img">
        </div>
        <p class="pt-4">イベントなどに使わせていただきます。</p>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center p-5" id="corporate">
      <div class="heading02">
        <h3>法人のご寄付</h3>
        <h6 class="mt-3">Corporate donations</h6>
      </div>
      <h4 class="mt-5">
        全国の放課後を救い、子どもたちの未来を変えます！
      </h4>
    </div>
  </div>
  <div class="box30">
    <div class="box-title">お問い合わせ</div>
    <p class="text-center h5 pt-5">ご検討いただける企業様には直接ご説明にお伺いしますので、<br>
  まずはお気軽にお問い合わせください。</p>
    <div class="text-center py-5">
      <a class="cta_btn03">
      <span class="cta_btn03-copy">お気軽にお問い合わせください！</span>
      お問い合わせはこちら
      </a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-8 offset-md-2 text-center">
      <h3>supporters</h3>
      <h6 class="mt-3">協賛企業の皆様</h6>
      <div class="row ">
          <div>
              <img src="assets/greenade.jpg" alt="" width="200">
              <p>グリナード永山様</p>
          </div>
          <div class="ml-5">
              <img src="assets/kelu.jpg" alt="" width="200">
              <p>ケル株式会社様</p>
          </div>
          <div class="ml-5">
              <img src="assets/tama.jpg" alt="" width="200">
              <p>多摩市様</p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="my-5">
  <div class="text-center bg-success text-white p-5" id="volunteer">
    <h3>ボランティアとして関わる</h3>
    <h6 class="mt-3">Intern / Volunteer</h6>
    <p class="mt-5">
      BORDER FREEは多くのボランティアさん・インターンさんに支えられています。<br
      「子どもたちを応援しよう！」という点で同じ志を持つ仲間との活動は本当に楽しいです。<br>
      ぜひお気軽にお問合せください。
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <h4 class="text-center col-md-4 offset-md-4">活動内容</h6>
  </div>
  <div class="mt-5">
    <ul class="row">
      <li class="col-md-3 offset-md-1">
        <div class="img">
          <img src="assets/top.jpg" alt="" class="maru-img">
        </div>
        <p class="pt-4">集団授業の講師として活動します。曜日は固定で週に2コマ以上授業をします。</p>
      </li>
      <li class="col-md-3 offset-md-1">
        <div class="img">
          <img src="assets/top.jpg" alt="" class="maru-img">
        </div>
        <p class="pt-4">個別授業の講師として活動します。曜日は固定で複数の生徒を指導します。</p>
      </li>
      <li  class="col-md-3 offset-md-1">
        <div class="img">
          <img src="assets/top.jpg" alt="" class="maru-img">
        </div>
        <p class="pt-4">BORDER FREEの運営をします。月に何度かのミーティングがあります。
        一緒に良いNPO法人していきましょう。</p>
      </li>
    </ul>
  </div>
</div>
<div class="pt-3clearfix bg-grey">
  <div class="p-3 row">
    <%= breadcrumbs separator: " &rsaquo; ", class: "col-md-4 pt-2" %>
      <a href="#top" class="text-dark font-weight-bold col-md-2 offset-md-6 btn btn-success">↑ Page Top</a>
  </div>
</div>