<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%#= image_tag('logo.png') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if student_signed_in? %>
        <li class="nav-item">
          <%= link_to 'マイページ', student_show_path, class: 'nav-link text-dark' %>
        </li>
        <li class="nav-item">
          <%= link_to "授業予約", student_classes_path, class: 'nav-link text-dark' %>
        </li>
        <li class="nav-item">
          <%= link_to "生徒ログアウト", destroy_student_session_path, method: :delete, class: 'nav-link text-dark' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "生徒ログイン", new_student_session_path, class: 'nav-link text-dark' %>
        </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>