<div class="row margin-top">
  <div class="cta_btn03 col-md-6 offset-md-4">
  <%#= link_to new_contact_path do %>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScho7UETS3AAK3ScHctdH-NamXxy_3c3t7gVZbrWa8b-RSj0w/viewform" target="_blank" rel="noopener noreferrer" class="nav-link text-white">
    <span class="cta_btn03-copy">お気軽にお問い合わせください！</span>
    <div class="text-white">お問い合わせはこちら</div>
  </a>
  <%# end %>
  </div>
</div>