<div class="row margin-top">
  <div class="cta_btn03 col-md-6 offset-md-4">
  <%= link_to new_contact_path do %>
    <span class="cta_btn03-copy">お気軽にお問い合わせください！</span>
    <div class="text-white">お問い合わせはこちら</div>
  <% end %>
  </div>
</div>