<div class="row text-center">
  <div class="ml-5">
    <div class="greenade supporters-logo"></div>
    <p class="display-none">グリナード永山 様</p>
  </div>
  <div class="ml-5">
    <div class="kelu supporters-logo"></div>
    <p class="display-none">ケル株式会社 様</p>
  </div>
  <div class="ml-5">
    <div class="tama supporters-logo"></div>
    <p class="display-none">多摩市 様</p>
  </div>
  <div class="ml-5">
    <div class="atl supporters-logo"></div>
    <p class="display-none">株式会社エーティーエル<br>システムズ 様</p>
  </div>
  <div class="ml-5">
    <div class="tamakyo supporters-logo"></div>
    <p class="display-none">多摩市社会福祉<br>協議会 様</p>
  </div>
  <div class="ml-5">
    <div class="shintoshi supporters-logo"></div>
    <p class="display-none">新都市センター開発<br>株式会社 様</p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-8 offset-md-2">
    <div class="box72">
      <div class="box-title">協賛企業・協賛団体(順不同)</div>
      <ul>
        <li>グリナード永山 様</li>
        <li>ケル株式会社 様</li>
        <li>多摩市 様</li>
        <li>株式会社エーティーエルシステムズ 様</li>
        <li>多摩市社会福祉協議会 様</li>
        <li>東京海上日動システムズ株式会社 様</li>
        <li>新都市センター開発株式会社 様</li>
      </ul>
    </div>
  </div>
</div>