<div class="row mt-5">
  <div class="col-md-8 offset-md-2">
    <div class="box72">
      <div class="box-title">名前一覧　(順不同)</div>
      <ul>
        <li>ビッツ有限会社 村上幸雄様</li>
        <li>末吉陽一様</li>
        <li>大山 紘平様</li>
        <li>斎藤拓也様</li>
        <li>大場実様</li>
        <li>ひでさん様</li>
        <li>金子利佳様</li>
        <li>五十嵐崇様</li>
        <li>オーガナイジングサービス 岩崎 美乃様</li>
        <li>KAZUYO KAWAMURA様</li>
        <li>原島陽子様</li>
        <li>小笠原弘実様</li>
        <li>まるぞう様</li>
      </ul>
    </div>
  </div>
</div>